{% extends 'base.html' %}
{% block title %}Мой профиль{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">Профиль пользователя</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}